.input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.input label {
  font-size: inherit;
  font-weight: bold;
  margin-right: 10px;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
