.backdrop {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 900;
}
.overlay {
  position: fixed;
  top: 10vh;
  left: 26%;
  width: 40rem;
  max-width: 60%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 990;
  animation: slide-down 300ms ease-out forwards;
}
@media (max-width: 768px) {
  .overlay {
    width: 40rem;
    left: 20%;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
